__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env/
.venv/
.zed/
.zedstate
*.db
*.sqlite
*.sqlite3
alembic/versions/*.py
*.log
logs/
.env
.idea/
.pytest_cache/
.coverage
htmlcov/
fastapi_cache/
.ropeproject
cython_debug/
